extends layout

block content
  h1= title
  p Welcome to #{title}
  p Wynik req.method: #{method}
  p wynik req.ip: #{ip}
  p wynik req.hostname: #{hostname}
  p wynik req.get ("Accept"): #{accept}
  p Local (route-scope) variable value is #{local_var}
  p Global (app-scope: global.ii) variable value is #{global_var1}
  p Global (app-scope: app.local.ii) variable value is #{global_var2}
  p Cookie counter: #{counter}
  if username 
    p Hello #{username}
    form(action="/signOut", method="get") 
      input(hidden value="signOut" name="signOut")
      button(type="submit") Sign out
    h1 Chat
    for x in chat
      if(x.msg != "")
        p #{x.username}: #{x.msg} 
    form(action="/chat", method="post")
      input(type="text" name="msg" value="")
      button(type="submit") Send
    br
    form(action="/uploadFiles", method="post" encType="multipart/form-data")
      input(type="file" name="file")
      button(type="submit") Upload
    for x in files 
      if(x.name != "")
        p #{x}
        form(action="/download" method="get")
          img(src=x)
          input(hidden value=x name="name") 
          button(type="submit") Download
  else 
    form(action="/signIn", method="get") 
      input(hidden value="signIn" name="signIn")
      button(type="submit") Sign in

  